.social-media-container {
    height: 100vh;
    overflow-y: auto;
    background-image: linear-gradient(to bottom, #f0f2f0, #000c40);
    display: flex;
    flex-direction: column;
}

.back-arrow {
    color: #000c40;
    width: 100px;
    height: 100px;
    font-size: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

.social-media-projects-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
}

.social-media-project-1-game {
    width: 400px;
    height: 400px;
    margin: 30px;
    border: 0px;
    outline: none;
    border-radius: 10px;
    background-image: url('https://res.cloudinary.com/do2qll3mj/image/upload/v1743250397/mi2zfqow51nxlpt9ajco.jpg');
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    background-size: cover;
    background-repeat: no-repeat;
}

.social-media-project-2-game {
    width: 400px;
    height: 400px;
    border: 0px;
    margin: 30px;
    outline: none;
    border-radius: 10px;
    background-image: url('https://res.cloudinary.com/do2qll3mj/image/upload/v1743250855/rg7pua4etzheidfvzrjj.jpg');
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    background-size: cover;
    background-repeat: no-repeat;
}

.social-media-project-3-game {
    width: 400px;
    height: 400px;
    border: 0px;
    margin: 30px;
    outline: none;
    border-radius: 10px;
    background-image: url('https://res.cloudinary.com/do2qll3mj/image/upload/v1743250885/fgk6f723divdsndrcaoy.jpg');
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    background-size: cover;
    background-repeat: no-repeat;
}

.social-media-project-4-game {
    width: 400px;
    height: 400px;
    border: 0px;
    margin: 30px;
    outline: none;
    border-radius: 10px;
    background-image: url('https://res.cloudinary.com/do2qll3mj/image/upload/v1743250904/k1pcouxruii7hq5dhlkn.jpg');
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    background-size: cover;
    background-repeat: no-repeat;
}

.social-media-project-5-game {
    width: 400px;
    height: 400px;
    border: 0px;
    margin: 30px;
    outline: none;
    border-radius: 10px;
    background-image: url('https://res.cloudinary.com/do2qll3mj/image/upload/v1743250924/zaatc9lazzat0omqjjp7.jpg');
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    background-size: cover;
    background-repeat: no-repeat;
}

.social-media-project-6-game {
    width: 400px;
    height: 400px;
    border: 0px;
    margin: 30px;
    outline: none;
    border-radius: 10px;
    background-image: url('https://res.cloudinary.com/do2qll3mj/image/upload/v1743258945/abx/xcb4iqskafzerwbknkol.jpg');
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    background-size: cover;
    background-repeat: no-repeat;
}

.view-icon {
    width: 40px;
    height: 40px;
    color: gray;
}

.go-link {
    width: 40px;
    height: 40px;
    margin: 20px;
}

.go-link:hover {
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    transform: translateY(-5px);
}

.social-media-project-1-game:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
}

.social-media-project-2-game:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
}

.social-media-project-3-game:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
}

.social-media-project-4-game:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
}

.social-media-project-5-game:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
}

.social-media-project-6-game:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
}

.user-password-details {
    margin-left: auto;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    height: 40px;
    padding: 12px;
    font-size: 24px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 1px solid #f0f2f0;
}